<style>
    #messages {
        overflow-y: auto;
        background-color: white;
        padding: 10px;
    }

    #messages div {
        margin-bottom: 10px;
        padding: .5rem;
        border-radius: 5px;
        background-color: #e7e7e7;
        max-width: 50%;
    }

    #messages>* {
        display: block;
        white-space: break-spaces;
    }

    #sendMessage {
        flex: 1;
    }
</style>
<script src="/socket.io/socket.io.js"></script>

<div class="wrapper ">
    <div class="h-100vh p-md flex-v">
        <div class="flex align-center justify-between mb-md">
            <div class="font-lg"><a href="/chatroom/all">chatrooms</a> / {{chatroom.name}}</div>
            <img src="{{chatroom.img}}" alt="" height="48">
        </div>
        <div id="messages" class="mb-md h-100"></div>
        <form class="flex gap-md mt-auto">
            <input id="message-input" type="text" autofocus>
            <button id="sendMessage" type="submit" class="flex-1">Send</button>
        </form>
    </div>
</div>

<script>
    let socket = io('/?id=' + '{{chatroom._id}}');
    socket.emit('join', '{{chatroom._id}}');

    // send a message to the server
    function sendMessage() {
        console.log('Sending message...');
        const messageInput = document.getElementById('message-input');
        if (!messageInput.value) return;
        let message = messageInput.value;
        socket.emit('message', message);
        messageInput.value = '';
    }

    // receive a message from the server
    socket.on('message', function (message) {
        console.log('Received message:', message);
        let messages = document.getElementById('messages');
        let messageContainer = document.createElement('div');
        let messageElement = document.createElement('p');
        messageElement.innerText = message;
        messageContainer.appendChild(messageElement);
        messageContainer.classList.add('message');
        messages.appendChild(messageContainer);

        // scroll to the bottom of the messages
        messages.scrollTop = messages.scrollHeight;

    });

    // send a message when the form is submitted
    const sendMessageBtn = document.getElementById('sendMessage');
    sendMessageBtn.addEventListener('click', (e) => {
        e.preventDefault();
        sendMessage()
    });


</script>