<script src="/socket.io/socket.io.js"></script>

<div class="wrapper p-md">

    <h2>{{{pageTitle}}}/{{chatroom.name}}</h2>
    <img src="{{chatroom.img}}" alt="">
    <div id="messages"></div>
    <div >
        <input type="text" id="message-input" />
        <button id="sendMessage" type="submit">Send</button>
    </div>
</div>

<script>
    let socket = io();

    // send a message to the server
    function sendMessage() {
        console.log('Sending message...');
        let message = document.getElementById('message-input').value;
        socket.emit('message', message);
        document.getElementById('message-input').value = '';
    }

    // receive a message from the server
    socket.on('message', function(message) {
        console.log('Received message:', message);
        let messages = document.getElementById('messages');
        let messageElement = document.createElement('div');
        messageElement.innerText = message;
        messages.appendChild(messageElement);
    });

    // send a message when the form is submitted
    const sendMessageBtn = document.getElementById('sendMessage');
    sendMessageBtn.addEventListener('click', sendMessage);
</script>
